body {
    font-family: 'Inter', sans-serif;

    padding: 0;
    margin: 0;
}

/*************
 container
*************/
.container {
    width: 1150px;
    height: 540px;
    margin: auto;
    background-color: #161616;
    border-radius: 15px;
}

.top-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-bar {
    width: 450px;
    margin-left: 64px;

}

.main-title {
    color: white;
}

h1 {
    font-size: 50px;
}

.top-bar-title {
    color: #bfbfbf;
    line-height: 21px;
    margin-bottom: 40px;

}

.my-btn {
    text-decoration: none;
    color: white;
    background: #dd4444;
    padding: 14px 31px;
    font-size: 20px;
    border-radius: 5px;

}

.top-right-banner img {
    width: 513px;
    margin-left: 40px;
}

/* ************
container-two
 **************/

.container-two {
    display: flex;
}

.all-match {
    width: 260px;
    height: 270px;
    background-color: #161616;
    margin-top: 100px;
    margin-left: 135px;
    display: grid;
    border-radius: 9px;
}

.all-link-btn {
    margin-top: 20px;
}

.click-btn {
    text-align: center;
    background: #f0ecec;
    width: 153px;
    align-items: center;
    margin: 12px auto;
    padding: 20px 28px;
    border-radius: 10px;
}

.click-btn a {
    text-decoration: none;
    color: black;

}

a .blog-color {
    color: white;
}

#blog-color {
    background: #dd0000;

}

.all-blogs {
    margin: 100px 15px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
}

.blog-item {

    width: 280px;
    height: 320px;
    border: 1px solid rgb(240, 235, 235);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.player-img img {
    height: 150px;
    width: 100%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.player-title {
    padding: 12px;
}

.player-btn {

    color: #dd4444;
    text-decoration: none;
    padding: 3px 12px;
    border: 1px solid #d44;
    border-radius: 5px;

}

.player-discribetion {
    margin-top: 28px;
    line-height: 25px;
    color: #3a3333;
}

.hour,
.messeges {
    color: rgb(83, 80, 80);
    font-size: 13px;
    padding: 17px;
}


.messeges {
    margin-left: 50px;
}

/************
 footer
************/
.dark-footer {
    background: #161616;
    width: 100%;
    height: 390px;
}

.short-title {
    width: 20px;
    margin-top: 200px;
    color: white;
    width: 155px;
    color: white;
    padding: 66px;
    margin: auto;
    font-size: 36px;
}

.under-line {
    width: 1200px;
    margin: auto;

}

hr {
    color: #474343;
    margin-bottom: 45px;
}

.items {
    display: flex;
    color: rgb(131, 122, 122);
    justify-content: center;
}

.items .singal-item {
    margin-left: 35px;
    font-size: 15px;
}